/* Hero.css */
.Hero {
  background-color: #191924;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
}

.intro {
  flex: 1;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.name {
  color: #9000ff;
  font-weight: 500;
}

.ViewWork {
  margin-top: 20px;
}

.ViewWork a {
  appearance: button;
  text-decoration: none;
  width: 55%;
  max-width: 300px;
  text-align: center;
  padding: 16px 0px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background: -webkit-linear-gradient(
    225deg,
    rgb(132, 0, 255) 0%,
    rgb(230, 0, 255) 100%
  );
  box-shadow: rgb(31, 38, 52) 20px 20px 60px, rgb(31, 38, 52) -20px -20px 60px;
  transition: all 0.2s ease-in-out 0s !important;
  margin-right: 10px;
  
}

.ViewWork a:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem #9000ff);

  transition: all 0.4s ease-in-out 0s;
}

.ProfilePic {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-around;
  
}

.ProfilePic img {
  height: 70%;
  max-width: 100%;
  position: absolute;
  margin: 4.1rem auto;
  border-radius: 10px;
  /* filter: drop-shadow(0 0 0.75rem #9000ff); */
}

@media screen and (max-width: 768px) {
  .Hero {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .ProfilePic {
    order: -1;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .ProfilePic img {
    width: 80%;
    height: auto;
    max-height: 50vh;
    position: relative;
    right: auto;
  }
  .ViewWork a{
    margin: 10px 0px;
  }
  .intro h1 {
    font-size: 1.5rem;

  }
}
