* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Hero {
  background-color: #191924;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
  /* background-color: red; */
}

.intro {
  flex: 1;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.name {
  color: #9000ff;
  font-weight: 500;
}

.ViewWork {
  margin-top: 20px;
}

.ViewWork a {
  appearance: button;
  text-decoration: none;
  width: 55%;
  max-width: 300px;
  text-align: center;
  padding: 16px 0px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  background: -webkit-linear-gradient(
    225deg,
    rgb(132, 0, 255) 0%,
    rgb(230, 0, 255) 100%
  );
  box-shadow: rgb(31, 38, 52) 20px 20px 60px, rgb(31, 38, 52) -20px -20px 60px;
  transition: all 0.2s ease-in-out 0s !important;
  margin-right: 10px;
}

.ViewWork a:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out 0s;
}

.ProfilePic {
  flex: 1;
  height: 60vh;
  border-radius: 10px;
  position: relative;
}

.pro {
  z-index: 1;
}

.Bgpro {
  /* transform: rotate(10deg) scale(1.5); */
  rotate: 10deg;
  scale: 1.5;
}
.ProfilePic img {
  margin: auto;
  height: 60vh;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 100px;
  transition: transform 0.5s ease;
}

.ProfilePic img:hover {
  transform: scale(1.1);
}
